GEMINI_API_KEY=
GEMINI_MODEL=gemini-3-flash-preview
DJANGO_KEY=True

BROWSER_USE_API_KEY=
BROWSER_USE_TIMEOUT_SECONDS=180
BROWSER_USE_GEMINI_MODEL=gemini-3-flash-preview

LLM7_API_KEY=
LLM7_MODEL=default

RATE_LIMIT_MAX_REQUESTS=90
RATE_LIMIT_TIME_WINDOW=60
